body{

background:#0f172a;

color:white;

font-family:Arial, sans-serif;

margin:0;

text-align:center;

}

.container{

background:#1e293b;

width:60%;

max-width:800px;

margin:40px auto;

padding:30px;

border-radius:15px;

box-shadow:0px 0px 20px rgba(0,0,0,0.6);

}

.foto{

width:140px;

height:140px;

border-radius:50%;

object-fit:cover;

border:4px solid #38bdf8;

margin-bottom:10px;

}

button{

background:#38bdf8;

color:black;

border:none;

padding:10px 25px;

border-radius:8px;

cursor:pointer;

font-weight:bold;

margin-top:10px;

transition:0.3s;

}

button:hover{

background:#0ea5e9;

}

h2{

margin-bottom:5px;

}

h3{

color:#38bdf8;

margin-top:20px;

border-bottom:1px solid #334155;

padding-bottom:5px;

}

ul{

text-align:left;

line-height:1.8;

}

li{

margin-bottom:5px;

}

.skill{

background:#020617;

color:#38bdf8;

padding:6px 12px;

border-radius:6px;

margin:6px;

display:inline-block;

font-size:14px;

font-weight:bold;

border:1px solid #38bdf8;

transition:0.3s;

}

.skill:hover{

background:#38bdf8;

color:black;

transform:scale(1.08);

}

.skill:hover{

background:#38bdf8;

color:black;

transform:scale(1.08);

box-shadow:0px 0px 12px rgba(56,189,248,0.6);

}

.card{

background:#0f172a;

padding:15px;

margin:10px 0;

border-radius:8px;

border-left:4px solid #38bdf8;

transition:0.3s;

}

.card:hover{

transform:scale(1.03);

background:#020617;

}

.topo{

display:flex;

align-items:center;

justify-content:center;

gap:20px;

margin-bottom:20px;

}

.cargo{

color:#38bdf8;

margin-top:5px;

}

.github{

background:#171515;

color:white;

margin-left:10px;

}

.github:hover{

background:#000;

}

.github:hover{

background:#16a34a;

}

#loading{

margin-top:15px;

color:#38bdf8;

font-weight:bold;

animation:pulse 1s infinite;

}

@keyframes pulse{

0%{opacity:0.3;}

50%{opacity:1;}

100%{opacity:0.3;}

}

#statusAPI{

margin-top:10px;

font-size:14px;

color:#94a3b8;

}